<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <style>
            .Top{
                background-color: #921618;

                color: white;
                font-size: 24px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="Top">Haarlem Festival</div>

        <div>This is your password reset <a href="@">link</a></div>
        <div>Do not give it to anyone.</div>
        <div>The link will expire in 15 minutes.</div>

        <div></div>
    </body>
</html>