<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <style>
            .Top{
                background-color: #921618;

                color: white;

                font-size: 24px;
                font-weight: bold;
                font-family: 'Playfair Display', serif;
            }

            .MainText{
                font-size: 14px;
                font-family: 'Playfair Display', serif;
            }
        </style>
    </head>
    <body>
        <div class="Top">Haarlem Festival</div>

        <div class="MainText">This is your password reset <a href="@">link</a></div>
        <div class="MainText">Do not give it to anyone.</div>
        <div class="MainText">The link will expire in 15 minutes.</div>

        <div></div>
    </body>
</html>